## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'],axis=1)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
column_count = application_df.nunique()

print(column_count)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
print(application_df.dtypes)

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()

print(value_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff_value = 500

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_value_counts = application_df['CLASSIFICATION'].value_counts()

print(class_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1


class_value_counts = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]


print(class_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1880

classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']


application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns)


print(application_df_encoded)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                       0
1           1    108590              1                       0
2           1      5000              0                       0
3           1      6692              1                       0
4           1    142590              1                       0
...       ...       ...            ...                     ...
34294       1      5000              0                       0
34295       1      5000              0                       0
34296       1      5000              0                       0
34297       1      5000              1                       0
34298       1  36500179              0                       0

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                         1                     0                    0
1                         0                     0                    1
2                         0                     0                    0
3                         0                     0                    1
4                         0                     0                    1
...                     ...                   ...                  ...
34294                     0                     0                    0
34295                     0                     0                    0
34296                     0                     0                    1
34297                     0                     0                    0
34298                     0                     0                    1

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        0                    1                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    1                    0                    0  ...
34295                    1                    0                    0  ...
34296                    0                    0                    0  ...
34297                    0                    1                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 44 columns]

In [ ]:
 # Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df_encoded["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
 # Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu', kernel_initializer='glorot_uniform', dtype='float32'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu', kernel_initializer='glorot_uniform', dtype='float32'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid', dtype='float32'))  # Binary classification

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
epochs = 100
batch_size = 32

history = nn.fit(X_train_scaled, y_train, epochs=epochs, batch_size=batch_size, verbose=1, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 3s 2ms/step - loss: 0.5748 - accuracy: 0.7173 - val_loss: 0.5727 - val_accuracy: 0.7193
Epoch 2/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7320 - val_loss: 0.5667 - val_accuracy: 0.7221
Epoch 3/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7323 - val_loss: 0.5681 - val_accuracy: 0.7252
Epoch 4/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7324 - val_loss: 0.5697 - val_accuracy: 0.7219
Epoch 5/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7330 - val_loss: 0.5637 - val_accuracy: 0.7246
Epoch 6/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7351 - val_loss: 0.5644 - val_accuracy: 0.7254
Epoch 7/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7348 - val_loss: 0.5640 - val_accuracy: 0.7256
Epoch 8/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7353 - val_loss: 0.5658 - val_accuracy: 0.7261
Epoch 9/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7356 - val_loss: 0.5618 - val_accuracy: 0.7230
Epoch 10/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7367 - val_loss: 0.5627 - val_accuracy: 0.7223
Epoch 11/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7339 - val_loss: 0.5628 - val_accuracy: 0.7221
Epoch 12/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7358 - val_loss: 0.5625 - val_accuracy: 0.7238
Epoch 13/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7365 - val_loss: 0.5629 - val_accuracy: 0.7234
Epoch 14/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7367 - val_loss: 0.5617 - val_accuracy: 0.7246
Epoch 15/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7391 - val_loss: 0.5630 - val_accuracy: 0.7217
Epoch 16/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7377 - val_loss: 0.5650 - val_accuracy: 0.7246
Epoch 17/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7383 - val_loss: 0.5660 - val_accuracy: 0.7226
Epoch 18/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7380 - val_loss: 0.5636 - val_accuracy: 0.7226
Epoch 19/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7386 - val_loss: 0.5619 - val_accuracy: 0.7248
Epoch 20/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7379 - val_loss: 0.5636 - val_accuracy: 0.7215
Epoch 21/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7383 - val_loss: 0.5632 - val_accuracy: 0.7242
Epoch 22/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7388 - val_loss: 0.5627 - val_accuracy: 0.7259
Epoch 23/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7383 - val_loss: 0.5670 - val_accuracy: 0.7224
Epoch 24/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7394 - val_loss: 0.5626 - val_accuracy: 0.7221
Epoch 25/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7396 - val_loss: 0.5636 - val_accuracy: 0.7221
Epoch 26/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7402 - val_loss: 0.5623 - val_accuracy: 0.7234
Epoch 27/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7401 - val_loss: 0.5614 - val_accuracy: 0.7244
Epoch 28/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7414 - val_loss: 0.5665 - val_accuracy: 0.7201
Epoch 29/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7390 - val_loss: 0.5622 - val_accuracy: 0.7246
Epoch 30/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7413 - val_loss: 0.5617 - val_accuracy: 0.7242
Epoch 31/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7401 - val_loss: 0.5625 - val_accuracy: 0.7242
Epoch 32/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7398 - val_loss: 0.5617 - val_accuracy: 0.7261
Epoch 33/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7393 - val_loss: 0.5611 - val_accuracy: 0.7236
Epoch 34/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7416 - val_loss: 0.5633 - val_accuracy: 0.7211
Epoch 35/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7417 - val_loss: 0.5627 - val_accuracy: 0.7205
Epoch 36/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7410 - val_loss: 0.5633 - val_accuracy: 0.7271
Epoch 37/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7403 - val_loss: 0.5665 - val_accuracy: 0.7215
Epoch 38/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7413 - val_loss: 0.5639 - val_accuracy: 0.7246
Epoch 39/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7419 - val_loss: 0.5633 - val_accuracy: 0.7234
Epoch 40/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7416 - val_loss: 0.5644 - val_accuracy: 0.7242
Epoch 41/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7409 - val_loss: 0.5618 - val_accuracy: 0.7228
Epoch 42/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7407 - val_loss: 0.5640 - val_accuracy: 0.7184
Epoch 43/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7403 - val_loss: 0.5631 - val_accuracy: 0.7224
Epoch 44/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7417 - val_loss: 0.5639 - val_accuracy: 0.7252
Epoch 45/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7408 - val_loss: 0.5639 - val_accuracy: 0.7236
Epoch 46/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7414 - val_loss: 0.5637 - val_accuracy: 0.7242
Epoch 47/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7406 - val_loss: 0.5639 - val_accuracy: 0.7221
Epoch 48/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7419 - val_loss: 0.5644 - val_accuracy: 0.7232
Epoch 49/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7427 - val_loss: 0.5658 - val_accuracy: 0.7236
Epoch 50/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7422 - val_loss: 0.5626 - val_accuracy: 0.7240
Epoch 51/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7423 - val_loss: 0.5621 - val_accuracy: 0.7252
Epoch 52/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7414 - val_loss: 0.5668 - val_accuracy: 0.7215
Epoch 53/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7429 - val_loss: 0.5633 - val_accuracy: 0.7250
Epoch 54/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7424 - val_loss: 0.5699 - val_accuracy: 0.7215
Epoch 55/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7427 - val_loss: 0.5658 - val_accuracy: 0.7234
Epoch 56/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7419 - val_loss: 0.5617 - val_accuracy: 0.7256
Epoch 57/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7418 - val_loss: 0.5639 - val_accuracy: 0.7190
Epoch 58/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7425 - val_loss: 0.5639 - val_accuracy: 0.7223
Epoch 59/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7427 - val_loss: 0.5633 - val_accuracy: 0.7226
Epoch 60/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7421 - val_loss: 0.5653 - val_accuracy: 0.7228
Epoch 61/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7422 - val_loss: 0.5659 - val_accuracy: 0.7203
Epoch 62/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7414 - val_loss: 0.5644 - val_accuracy: 0.7248
Epoch 63/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7422 - val_loss: 0.5658 - val_accuracy: 0.7238
Epoch 64/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7432 - val_loss: 0.5668 - val_accuracy: 0.7234
Epoch 65/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7432 - val_loss: 0.5644 - val_accuracy: 0.7248
Epoch 66/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7430 - val_loss: 0.5650 - val_accuracy: 0.7234
Epoch 67/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7421 - val_loss: 0.5634 - val_accuracy: 0.7232
Epoch 68/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7420 - val_loss: 0.5658 - val_accuracy: 0.7232
Epoch 69/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7427 - val_loss: 0.5669 - val_accuracy: 0.7250
Epoch 70/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7414 - val_loss: 0.5646 - val_accuracy: 0.7252
Epoch 71/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7423 - val_loss: 0.5645 - val_accuracy: 0.7224
Epoch 72/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7430 - val_loss: 0.5648 - val_accuracy: 0.7252
Epoch 73/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7438 - val_loss: 0.5658 - val_accuracy: 0.7246
Epoch 74/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7438 - val_loss: 0.5655 - val_accuracy: 0.7230
Epoch 75/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7429 - val_loss: 0.5653 - val_accuracy: 0.7238
Epoch 76/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7430 - val_loss: 0.5650 - val_accuracy: 0.7226
Epoch 77/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7420 - val_loss: 0.5664 - val_accuracy: 0.7248
Epoch 78/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7434 - val_loss: 0.5680 - val_accuracy: 0.7244
Epoch 79/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7426 - val_loss: 0.5649 - val_accuracy: 0.7238
Epoch 80/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7426 - val_loss: 0.5655 - val_accuracy: 0.7238
Epoch 81/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7427 - val_loss: 0.5666 - val_accuracy: 0.7228
Epoch 82/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7427 - val_loss: 0.5665 - val_accuracy: 0.7219
Epoch 83/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7427 - val_loss: 0.5658 - val_accuracy: 0.7242
Epoch 84/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7426 - val_loss: 0.5667 - val_accuracy: 0.7228
Epoch 85/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7432 - val_loss: 0.5663 - val_accuracy: 0.7226
Epoch 86/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7435 - val_loss: 0.5697 - val_accuracy: 0.7240
Epoch 87/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7429 - val_loss: 0.5668 - val_accuracy: 0.7248
Epoch 88/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7424 - val_loss: 0.5658 - val_accuracy: 0.7236
Epoch 89/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7433 - val_loss: 0.5653 - val_accuracy: 0.7238
Epoch 90/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7437 - val_loss: 0.5665 - val_accuracy: 0.7259
Epoch 91/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7431 - val_loss: 0.5674 - val_accuracy: 0.7234
Epoch 92/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7435 - val_loss: 0.5675 - val_accuracy: 0.7228
Epoch 93/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7427 - val_loss: 0.5697 - val_accuracy: 0.7238
Epoch 94/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7435 - val_loss: 0.5658 - val_accuracy: 0.7213
Epoch 95/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7428 - val_loss: 0.5672 - val_accuracy: 0.7242
Epoch 96/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7429 - val_loss: 0.5677 - val_accuracy: 0.7219
Epoch 97/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7431 - val_loss: 0.5697 - val_accuracy: 0.7223
Epoch 98/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7437 - val_loss: 0.5666 - val_accuracy: 0.7242
Epoch 99/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7430 - val_loss: 0.5674 - val_accuracy: 0.7223
Epoch 100/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7440 - val_loss: 0.5666 - val_accuracy: 0.7256

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5555 - accuracy: 0.7265 - 313ms/epoch - 1ms/step
Loss: 0.5555492639541626, Accuracy: 0.7265306115150452

In [ ]:
# Export our model to HDF5 file

model_filename = 'AlphabetSoupCharity.h5'


nn.save(model_filename)

print(f"Model saved to {model_filename}")

Model saved to AlphabetSoupCharity.h5